h1, h1, h3, h4, h5, h6, p, div, button{
    font-family: "Tajawal";


    
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards-container {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;
    width: 100%; /* Adjust the width as needed */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 90%; /* Adjust the width as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-item {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: not-allowed;
    
  }
  
  